<h2>Book List</h2>
<button (click)="navigateToSearch()">navigateToSearch</button>
<hr><br>
<hr><br>
<button (click)="navigateToCollection()">navigateToCollection</button>
<hr><br>
<hr><br>

<table #dummyTable id="dummyTable">
  <thead
    [ngStyle]="{
      backgroundColor: 'gray',
      color: '#aff',
      fontStyle: 'italic'
    }"
  >
    <tr>

      <th>id(number)</th>
      <th>Name(string)</th>
      <th>No</th>
      <th>Buttons</th>
    </tr>
  </thead>
  <tbody>
    <!-- #*ngFor #trackby-->
    <tr
      *ngFor="
        let book of books$ | async;
        index as i;
        first as isFirst;
        last as isLast;
        even as isEven;
        odd as isOdd;
        count as count
      "
      [ngClass]="'stripe-' + i"
      [ngStyle]="{
        color: isFirst ? 'crimson' : isLast ? 'mediumspringgreen' : ''
      }"
      (click)="selectItem($event, book)"
    >
      <td>{{ book.id }}</td>
      <td>{{ book.volumeInfo.title }}</td>
      <td>{{ i }}</td>
    </tr>
  </tbody>
</table>

