<p>Search Book!</p>
<div>Search here!</div>
<button (click)="navigateToList()">NavigateToList</button>
<br>
<hr>
<div class="founded-book-list">
  <mat-card>
    <mat-card-title>Find a Book</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Search for a book"
          [value]="searchQuery$ | async"
          (keyup)="search($event)"
        />
      </mat-form-field>
      <mat-spinner
        [class.show]="loading$ | async"
        [diameter]="30"
        [strokeWidth]="3"
      ></mat-spinner>
    </mat-card-content>
    <mat-card-footer>
      <span *ngIf="error$ | async">{{ error$ | async }}</span>
    </mat-card-footer>
  </mat-card>

  <div class="founded-book-item" *ngFor="let book of foundedBooks$ | async">
    <app-book [book]="book"></app-book>

    <button (click)="byCollectionAdd(book)" data-test="add-button">
      Add to Collection
    </button>
  </div>
</div>

